<section class="backGr">
    <div class="row psd mx-0 pt-2">
        <div class="col-md-4">
            <p class="mb-0 tcenter">© 2020 CtrlD</p>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <p class="mb-0">Made with ❤️ in India</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tright">
                <a href="" class="">
                    <img src="static/assets/images/shareblue.png" class="w30 img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>
  </body>
</html>