<header class="psd ">
        <nav class="navw sas">
          <a class="navbar-brand logi" href="/">
              <img src="static/assets/images/logo.png" class=" img-fluid">
          </a>
         
            <div class="padtt text-right">
             
                <a class=" text-white mt-2" href="/contactus">Contact us</a>
             
                <a class="" href="#">
                    <img src="static/assets/images/sharewhite.png" class="w27 img-fluid">
                </a>
            </div>
        </nav>
    </header>